@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Inter", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: #F5F5F7; /* iOS Gray base */
  color: #1D1D1F;
}

/* Mobile-first PWA optimizers */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for desktop, hidden on mobile usually */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
